<html>
    <head>
    <link rel="stylesheet" href="style-home.css">
    
    <link type="text/css" href="style-home.css"
	th:href="@{/style-home.css}" rel="stylesheet" media="screen" />
	
    <title>You'r Burger</title>

    </head>
    <body>
        
<main>

    <div class="burgerimg">

        <div class="forLogo">
            <img class="logo" src="img/logo_transparent.png" alt="logo">
        </div>

    <header>
        <h1 class="title">Wellcome in Your Burger</h1>
    </header>
    
    <article>

        
        <span class="text">The best ingredients and skilled chefs makes our burgers the most dellicious in this country. </span>

        <div class="button">    
            <a th:href="@{/design}">Order a burger</a>
        </div>

    </article>

    </div>  


    </main>
    </body>
</html>